<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/layout/footer.css" th:href="@{/css/layout/footer.css}">
    <script src="../../static/js/layout/footer.js" th:src="@{/js/layout/footer.js}" defer></script>
</head>
<body>

    <footer th:fragment="footer"  class="footer">
        <hr>
        <div>
            <div>© Untitled. All rights reserved.</div> <div>이 사이트는 프로젝트 용도로 제작하였으며 상업적인 용도로 사용하지 않음을 밝힙니다.</div>
        </div>
    </footer>

</body>
</html>