/* body영역 */
.basket{
    margin-top: 30px;
}

.cart-title > .Box-title {
    font-size: 22px;
    margin-left: 200px;
    font-family: 'MaruBuri';
    color: #772800;
}

.cart > p,
.cart > span {
    margin: 0;
}

.cart > a {
    color: #772800;
}

.cart {
    width: 70%;
    margin: auto;
    padding: 30px;
}

.cart ul {
    background-color: whitesmoke;
    padding: 30px;
    margin-bottom: 50px;
    border: whitesmoke solid 1px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 300;
}

.cart ul :first-child {
    color: #772800;
    font-family: 'MaruBuri';
    font-weight: bold;
}

.cart > table {
    border-top: solid 1.5px #772800;
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
}

.cart > table > thead {
    border-bottom: solid 1px #772800;
    text-align: center;
    color: #772800;
    font-family: 'MaruBuri';
    font-weight: bold;
}

.cart > table > tbody {
    border-bottom: solid 1px #772800;
    color: #772800;
    font-family: 'MaruBuri';
    font-size: 12px;
}

.cart > table > tbody > td {
    color: #772800;
    font-family: 'MaruBuri';
    padding: 15px 0px;
    border-bottom: 1px solid #772800;
}

.cart_list_detail {
    border: 1px solid #772800;
    border-left: none;
}

.cart_list_detail form :nth-child(3) {
    vertical-align: top;
}

.cart_list_detail form :nth-child(3) a {
    font-size: 12px;
}

.cart_list_detail form :nth-child(3) p {
    margin-top: 34px;
    font-weight: bold;
}


.cart_list_smartstore {
    font-size: 12px;
    color: #4b1900;
    font-weight: bold;
    font-family: 'MaruBuri';
}

.cart_list_option {
    vertical-align: top;
    padding: 20px;
}

.cart_list_option p {
    margin-bottom: 25px;
    position: relative;
}

.cart_list_option p::after {
    content: "";
    width: 90%;
    height: 1px;
    background-color: lightgrey;
    left: 0px;
    top: 25px;
    position: absolute;
}

.cart_list_optionbtn {
    background-color: white;
    font-size: 10px;
    color: #772800;
    font-family: 'MaruBuri';
    border: 1px solid #772800;
    border-radius: 3px;
    padding: 7px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.td5 {
    text-align: center;
}

.td6 {
    text-align: center;
}


.td5 button {
    background-color: #772800;
    color: #fcebe2;
    border: none;
    border-radius: 5px;
    padding: 4px 8px;
    font-size: 12px;
    margin-top: 5px;
}

.price {
    font-weight: bold;
    color: #772800;
    font-family: 'MaruBuri';
    border: none;
}

.cart_mainbtns {
    width: 420px;
    height: 200px;
    padding-top: 40px;
    display: block;
    margin: auto;
}

.cart_bigorderbtn {
    width: 200px;
    height: 50px;
    font-family: 'MaruBuri';
    color: #fcebe2;
    font-size: 16px;
    margin: auto;
    border-radius: 5px;
}

.cart > table > tfoot > tr > td > button {
    margin-top: 15px;
    color: #772800;
    font-family: 'MaruBuri';

}

.cart_bigorderbtn.left {
    background-color: #fcebe2;
    color: #772800;
    font-family: 'MaruBuri';
    font-weight: bold;
    border: none;
    font-size: 18px;
    margin-right: 5px;
}

.cart_bigorderbtn.right {
    background-color: #4b1900;
    margin-left: 5px;
    font-family: 'MaruBuri';
    font-weight: bold;
    font-size: 18px;
    color: #fcebe2;
    border: none;
}



.cart_information {
    margin-bottom: 0;
}

#pagination-buttons {
    margin-top: -40px;
    text-align: center;
    margin-bottom: 5px;
}

.page-button {
    margin-left: 3px;
    margin-right: 3px;
    width: 20px;
    font-family: 'MaruBuri';
    border: none;
    background: none;
    color: #772800;
}

.move-button {
    font-family: 'MaruBuri';
    border: none;
    background: none;
    color: #772800;
}