<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stroy</title>
    <script src="https://kit.fontawesome.com/e7e4504204.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/layout/header.css" th:href="@{/css/layout/header.css}">
    <link rel="stylesheet" href="../static/css/layout/side_bar.css" th:href="@{/css/layout/side_bar.css}">
    <link rel="stylesheet" href="../static/css/layout/footer.css" th:href="@{/css/layout/footer.css}">
    <link rel="stylesheet" href="../static/css/story.css" th:href="@{/css/story.css}">
    <script src="../../static/js/layout/header.js" th:src="@{/js/layout/header.js}" defer></script>
    <script src="../../static/js/layout/side_bar.js" th:src="@{/js/layout/side_bar.js}" defer></script>
    <script src="../../static/js/layout/footer.js" th:src="@{/js/layout/footer.js}" defer></script>
</head>
<body>
<main>
    <section>
        <header th:replace="layout/header :: header"></header>
        <aside th:replace="layout/side_bar :: side_bar"></aside>
        <section class="story">
            <img src="/image/story.jpg" alt="story">
        </section>
        <footer th:replace="layout/footer :: footer"></footer>
    </section>
</main>
</body>
</html>